@use "../../assets/styles/mixin" as mixin;

.Homepage {
  width: 100%;
  text-align: center;
  background-color: #121212;
  color: #f7fafc;
  @media (min-width: 600px) {
    flex-direction: row;
  }
  .vs {
    @include mixin.xs {
      font-size: small;
    }
  }
  .tour {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 10px;
    font-size: large;
    @include mixin.xs {
      margin-top: 20px;
      font-size: medium;
    }
  }
  .board {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    @include mixin.xs {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  .btnreset {
    @include mixin.xs {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}

.button {
  max-height: 50px;
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  @include mixin.xs {
    margin-top: 20px;
  }
}
.Modal {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121212;

  color: #f7fafc;

  .buttonModal {
    background-color: #e53e3e;
    color: #ffffff;
    cursor: pointer;
  }
}
