@use "../../assets/styles/mixin" as mixin;

.Homepage {
  width: 100%;
  text-align: center;
  background-color: #2d3748;
  color: #f7fafc;
  @media (min-width: 600px) {
    flex-direction: row;
  }
  .div1 {
    margin: 0;
    @include mixin.xs {
      flex-direction: column-reverse;
    }
  }

  .board {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    @include mixin.xs {
      height: 350px;
    }
  }
  .tour {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;

    display: flex;
    justify-content: start;
  }
  .vs {
    margin-top: 10px;
    margin-left: 10px;
  }
}

.button {
  max-height: 50px;
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.Modal {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2d3748;

  color: #f7fafc;

  .buttonModal {
    background-color: #e53e3e;
    color: #ffffff;
  }
}
