@use "../../assets/styles/mixin" as mixin;
.header {
  background-color: #121212;
  color: #f7fafc;
  position: relative;
  width: 100%;
  margin: 0 auto;
  a {
    text-decoration: none;
    color: #f7fafc;
    @include mixin.xs {
      font-size: small;
    }
  }
  .title {
    width: 95%;
    color: #f7fafc;
    h1 {
      color: #f7fafc;
    }
    @include mixin.xs {
      font-size: small;
    }
  }
  .nav {
    justify-content: start;
    height: 100%;
    border-top-right-radius: 1000px;
  }
}
