@use "../../assets/styles/mixin" as mixin;

.board {
  padding: 10px;
  border-radius: 10%;
  width: 80%;
  height: 100%;
  @include mixin.xs {
    width: 350px;
    height: 350px;
  }

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
  margin: 0px;
  background-color: #1a202c;
  // position: relative;

  @media (min-width: 600px) {
    height: 400px;
  }
}
